@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Meriweather Font */


:root{
    --primary: #D7CEC7;
    --accent1: #565656;
    --accent2: #76323F;
    --background: #c09F80;
}

/* Header Section */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    height: 100px;
    padding-right: 20px;
}

ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
}

li{
    margin-left: 30px;
    font-family: Merriweather, serif;
    font-weight: 500;
    font-size: 1.25rem;
}


/* Hero Section */

#hero{
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: space-evenly;
}

#profile-img{
    height: 300px;
    width: 200px;
    border-radius: 50%;
}